.button {
  padding: 10px 27px;
  border-radius: 5px;
  cursor: pointer;
  transition: all $duration ease-in-out;

  &--outline {
    background-color: $white;
    border: 1px solid $main;

    &:hover {
      background-color: $main;

      span {
        color: $white;
      }
    }
  }

  &--fill {
    background-color: $main;

    span {
      color: $white;
    }

    &:hover {
      background-color: darken($main, 5%);
    }
  }

  &--still {
    background-color: $white;

    &:hover {
      background-color: darken($white, 10%);
    }
  }

  &--shadow {
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  }

  &:active {
    // background-color: darken($main, 12%);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    transform: translateY(1px);
  }
}
