.support {
  margin-top: 100px;
  padding: 60px 0;
  background-color: $background;

  &__inner {
    display: flex;
  }

  &__form {
    display: flex;
    flex: 1 0 40%;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;

    input,
    textarea {
      width: 100%;
      margin-bottom: 15px;
      padding: 10px 12px;
    }
  }

  &__formName {
  }

  &__formEmail {
  }

  &__formMessage {
    flex: 1 1 100%;
    resize: none;
  }

  &__button {
  }

  &__info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    // align-items: center;
  }

  &__title {
    text-align: center;
  }

  &__text {
    margin-top: 15px;
    text-align: center;
  }

  &__cases {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
  }

  &__case {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 15px;
    }
  }

  &__caseIcon {
    @include patch-icon;

    margin-right: 15px;
  }

  &__caseBox {
  }

  &__caseTitle {
    text-align: center;
  }

  &__caseText {
    margin-top: 10px;
    font-weight: 500;
    font-size: 25px;
  }
}
