.tagline {
  position: relative;
  display: flex;
  height: calc(100vh - 117px);
  max-height: 1080px;

  &::before {
    position: absolute;
    top: -117px;
    right: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    background: url('../img/content/particles.jpg') center center no-repeat;
    background-size: cover;
    content: '';
  }

  &__wrapper {
    position: relative;
    top: calc(((100vh - 242px) / 2) - 117px);
    max-width: 65%;
  }

  &__title {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 1.1;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__button {
    padding: 15px 35px;

    span {
      font-size: 16px;
    }
  }
}
